name: github-action
on: 
    workflow_dispatch:
    push:
        branches:
            - 'main'
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: install all
              run: npm install
            - name: test everything
              run: npm run test
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: install dependencies
              run: npm install
            - name: build everything
              run: npm run


